#map {
    height: 400px;
    width: 75%; /* Ustawienie mapy na 75% szerokości strony */
    margin-right: 25px; /* Odstęp między mapą a bocznym panelem */
}
#sidePanel {
    width: 50%; /* Szerokość bocznego panelu 25% */
    background-color: #ffffff; /* Biały kolor tła */
    padding: 20px;
    text-align: center;
    margin-left: 25%;
}
#diadr{
    width: 50%; /* Szerokość bocznego panelu 25% */
    background-color: #ffffff; /* Biały kolor tła */
    padding: 20px;
    text-align: center;
    margin-left: 25%;
}

input {
    margin-bottom: 10px;
    width: 90%;
}
body {
    background-color: #E4E4F7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #622B91;
    padding: 20px;
    }
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgb(78, 11, 141);
        color: #ffffff;
    }
    nav {
        text-align: center;
        margin-top: 20px;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    
    nav ul li {
        display: inline;
        margin: 0 10px;
    }
    #map {
        height: 400px;
        width: 100%;
        margin-bottom: 20px;
    }

    form {
        width: 99%; /* Szerokość formularza 75% */
        display: flex;
        flex-direction: column;
    }

    input, button {
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #ff0000; /* Czerwony obramowanie */
        border-radius: 4px;
        width: 100%;
    }
    button {
        background-color: #ff0000; /* Czerwony kolor tła */
        color: white;
        cursor: pointer;
    }

    button:hover {
        background-color: #cc0000; /* Ciemniejszy czerwony kolor przy najechaniu myszką */
    }