body {
    background-color: #E4E4F7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #622B91;
    padding: 20px;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 80%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.product div {
    flex: 1;
}

.product div h3 {
    margin: 0;
}

.product div p {
    margin: 5px 0;
}

.product div button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(78, 11, 141);
    color: #ffffff;
}